
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Entornos virtuales
venv/
env/

# Variables de entorno / Secretos
.env

# Ignorar la carpeta de logs por completo
logs/
*.log

# MLOps Artifacts
artifact/
prediction_output/

# Ignorar archivos pesados o temporales, pero PERMITIR el modelo final
*.npy
mlflow.db

# Si decides incluir el modelo en el repo (no recomendado para archivos >50MB, pero útil para empezar)
!final_model/*.pkl